# Computer Vision
opencv-python==4.8.1.78
opencv-contrib-python==4.8.1.78
mediapipe==0.10.7
ultralytics==8.0.196

# Emotion Detection
deepface==0.0.79
tensorflow==2.10.0
keras==2.10.0

# Dependency Fix
protobuf==3.20.3
numpy==1.23.5

# Web
flask==2.3.3

# Voice
gtts==2.3.2
pygame==2.5.2
SpeechRecognition==3.10.0
edge-tts

# AI
ollama

# Utilities
pillow==9.5.0
tqdm
requests

# Torch
torch==2.1.2
torchvision==0.16.2
torchaudio==2.1.2
